<div class="center">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Mon profil</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                <div class="aside">
                    <div
                        *ngIf="this.selectedFile"
                        mat-card-avatar 
                        [ngStyle]="{
                            'background-image': 'url('+ this.selectedFile +')',
                            'background-size': 'cover',
                            'height': '100px',
                            'width': '100px'
                        }">
                    </div>
                    <div>
                        <input type="file" accept="image/*" #photoFile formControlName="photo" (change)="onChange($event)">
                        <button mat-stroked-button color="primary" (click)="photoFile.click()">Modifier ma photo</button>
                    </div>
                </div>
                <p>
                    <mat-form-field>
                        <mat-label>Prénom</mat-label>
                        <input type="text" matInput formControlName="prenom">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Nom</mat-label>
                        <input type="text" matInput formControlName="nom">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input type="email" matInput formControlName="email">
                    </mat-form-field>
                </p>
                <p>
                    changer son [password]
                </p>
                <p>
                    <mat-form-field>
                        <mat-label>Bio</mat-label>
                        <input type="text" matInput formControlName="bio">
                    </mat-form-field>
                </p>
                <div class="submit">
                    <button 
                        mat-stroked-button 
                        type="button"
                        (click)="initForm()"
                        color="primary">
                        Réinitialisez
                    </button>
                    <button 
                        mat-raised-button 
                        type="submit" 
                        [disabled]="profileForm.invalid"
                        color="primary">
                        Mettre à jour
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>