<div class="in-the-middle">
    <h2>Dernières actualitées</h2>
    <div *ngFor="let message of messages; let i = index" (click)="onViewMessage(i)">
        <mat-card class="card">
            <mat-card-header>
                <div 
                    mat-card-avatar 
                    [ngStyle]="{
                        'background-image': 'url(' + message.profile_photo + ')',
                        'background-size': 'cover'
                    }">
                </div>
              <mat-card-title>{{ message.profile_prenom }} {{ message.profile_nom }}</mat-card-title>
              <mat-card-subtitle>{{ message.create }}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="message.picture"/>
            <mat-card-content>
              <p>
                {{message.text}}
              </p>
            </mat-card-content>
            <mat-card-actions class="spacer">
              <button mat-icon-button type="button">{{ message.comments }}<mat-icon color="primary">chat_bubble_outline</mat-icon></button>
              <span>
                <button mat-icon-button type="button">{{ message.likes }}<mat-icon color="primary">thumb_up_off_alt</mat-icon></button>
                <button mat-icon-button type="button"><mat-icon color="primary">thumb_down_off_alt</mat-icon>{{ message.dislikes }}</button>
              </span>
            </mat-card-actions>
          </mat-card>
    </div>
</div>