<form [formGroup]="editorForm" (ngSubmit)="onSubmit()">
    <p>
        <mat-label>Publier</mat-label>
        <quill-editor formControlName="editor" placeholder="Taper votre message ici..."></quill-editor>
    </p>
    <div>
        <img *ngIf="this.selectedFile" src="{{this.selectedFile}}" alt="Image choisi pour le message">
        <input type="file" accept="image/*" #photoFile formControlName="picture" (change)="onChange($event)">
        <button type="button" color="primary" (click)="photoFile.click()">Choisir son image</button>
    </div>
    <p>
        <button 
            mat-raised-button 
            type="submit" 
            color="primary">
            Publier
        </button>
    </p>
</form>