<form [formGroup]="editorForm" (ngSubmit)="onSubmit()">
    <p>
        <mat-form-field >
            <mat-label>Publier mon message</mat-label>
            <textarea matInput formControlName="editor" placeholder="Taper votre message ici..."></textarea>
        </mat-form-field>
    </p>

    <div>
        <img *ngIf="selectedFile" src="{{selectedFile}}" alt="Image choisi pour le message">
        <input type="file" accept="image/*" #photoFile formControlName="picture" (change)="onChange($event)">
        <button type="button" color="primary" (click)="photoFile.click()">Choisir son image</button>
    </div>

    <p>
        <button 
            mat-raised-button 
            type="submit" 
            color="primary">
            Publier
        </button>
    </p>
</form>