.in-the-middle {
    align-items: center;
    display: flex;
    height:90%;
    justify-content: center;
    position: relative;
    width: 100%;
}

.sign-card {
    max-width: 400px;
}

mat-form-field {
    width: 100%;
}