<div class="in-the-middle">
    <h2>Vos contacts</h2>
    <div *ngFor="let profile of profiles; let i = index" (click)="onViewProfile(i)">
        <mat-card class="card">
            <mat-card-header>
                <div 
                    mat-card-avatar 
                    [ngStyle]="{
                        'background-image': 'url('+ profile.photo +')',
                        'background-size': 'cover',
                        'height': '100px',
                        'width': '100px'
                    }">
                </div>
                <mat-card-title>{{ profile.firstname }} {{ profile.name }}</mat-card-title>
                <mat-card-subtitle>{{ profile.bio }}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
</div>